<template name="register">
    <form><div style="height:270px;width:270px;background-color: gainsboro">

        <h2 align="center"><b align="center">REGISTER</b></h2>
        <p align="left">Email<input type="email" name="registerEmail"></p>
        <p align="left">Password<input type="password" name="registerPassword"></p>
        <p align="left">First Name<input type="text" name="registerName"></p>
        <p align="left">Last Name<input type="text" name="registerLastName"></p>

        <p align="left"> Location <select name="selectLocation" id="selectLocation">
            <option value="North America">North America</option>
            <option value="South America">South America</option>
            <option value="Central America" selected="selected">Central America</option>
            <option value="Africa">Africa</option></select></p>

        <p align="center">   <input type="submit" value="Register"></p>

    </div></form>
</template>